@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.guide {
  @include flexCenter();
  background: #0059b2;
  height: 80px;
  color: $textColor;
}

.title {
  margin: 0;
  font-family: "Ultra", serif;
  font-weight: 450;
  font-size: 20px;
  font-style: normal;
}